.signUp-form {
    border: 1px #0d00ff solid;
}
.signUp-btn {
    background: #FF5A5F;
    border-radius: 80px;
    font-weight: 700;
    width: 100%;
    height: 35px;
    margin-bottom: 15px;
    color: whitesmoke;
    cursor: pointer;
}
