.image-div-one-spot{
    width: 50vw;
    height: 50vh;
}
.spot-secondary-images-container{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    height: 50vh;
}

.spot-images{
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 50vh;
    margin-top: 12px;
}

.spot-secondary-image{
    /* width: 20vw;
    height: 25vh; */
    width: 100%;
}
.spot-secondary-image.first{
    grid-column: 1/3;
    grid-row: 1/3;
}
.spot-details{
    padding: 0px 32px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 1100px;
    margin: 0 auto;
}
.spot-name{
    font-size: 2em;
    font-weight: 400;
    margin: 8px;
}
.address-spot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.address-details{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.bed-bath-details{
    font-size: 16px;
    padding:0px 0px 10px 0px;
    font-weight: normal;
    opacity: 0.6;
   }
.aircover-title-image img{
    width: 200px;
    padding: 30px;
    padding-left:0px;
}
.aircover-info{
    padding-bottom: 30px;
    font-weight: normal;
    /* border-bottom: 1px solid rgb(224, 216, 216); */
}
.price-rating-side-box {
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    margin: 0px 0px 10px 10px;
    height: 100px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(90, 88, 88, 0.2);
    text-align: center;
    position: sticky;
    top: 80px;

}

.spot-details-rating {
    padding: 20px;
}

.location-container,
.checkin-container,
.cancel-container {
 display:flex;
 justify-content: flex-start;
 font-weight: normal;
 font-size: 16px;
 padding-bottom: 16px;
 margin-bottom: 10px;
}

.fa-medal,
.fa-door-open,
.fa-calendar{
    margin:20px;
    font-size: 25px;
    margin-left:0px;

}

.location-info-title,
.checkin-title,
.cancel-title {
    font-weight: bold;
    color: black;
    padding-bottom: 4px;
}

.location-info,
.checkin-info,
.cancel-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: grey;
    width:70%;
}
.airbnb-amenities-info-image{
    width: 60px;
}
.spot-edit-delete-button:hover {
    cursor: pointer;
}
.flex{
    display: flex;
    gap: 16px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 12px;
    margin-bottom: 12px;
}

.host-details-spot-info{
    width: 70%;
}
.host-info{
    width: 30%
}
hr{
    color: #ddd;
    margin: 16px 0px;
    /* border-bottom: 1px solid rgb(224, 216, 216); */
}
.spot-images-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4px;
    max-height: 560px;
}
.review-title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.fa-star {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0 4px;
}

