.review-box{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    /* border: 1px solid rgb(234, 222, 222); */
    padding: 4px;
}

.review-user{
    /* width: 30vw; */
    /* height: 25px; */
    display: flex;
    align-items: flex-start;
    padding: 12px;
}
.review{
    /* width: 30vw; */
    /* height: 10vh; */
    margin-top: 15px;
    text-align: justify;
    word-break: break-word;
}
.add-review-form{
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin: 10px 0px;

}
.review-actions{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.add-rating-input{
    margin: 0;
}
.add-review-btn{
    /* width: 20vw; */
    background: linear-gradient(45deg, #FF5A5F, #e31c5f 30%);
    color: #FFF;
    font-weight: 500;
    padding: 10px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    width: 100%;
    bottom: 20px;
    margin-right: 22px;
}
.avatar{
    font-size: 2em;
}
.review-user-container{
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
}
.rating-color {
    color: #e99824
}
.delete-review-btn {
    background: linear-gradient(45deg, #FF5A5F, #e31c5f 30%);
    color: #FFF;
    font-weight: 500;
    padding: 10px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    width: 100%;
    bottom: 20px;
    margin-right: 22px;
}
.bottom-review-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
}
