.review-box{
    display: flex;
    align-items: center;
    flex-direction: row;
    border: 1px solid black;
    align-items: center;
}

.review-user{
    width: 30vw;
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 12px;
}
.review{
    width: 30vw;
    height: 10vh;
}
.add-review-form{
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin: 10px;

}
.review-actions{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.add-rating-input{
    margin: 0;
}
.add-review-btn{
    width: 20vw;
}
.avatar{
    font-size: 2em;
}
.review-user-container{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}
.rating-color {
    color: #e99824
}
