#host-forms{
    display: flex;
    flex-direction: column;
    margin-bottom: 8%;
    padding: 0 20px;
}
.edit-spot-form{
    display: flex;
    flex-direction: column;
    margin: 0 20px;

    /* align-items: center; */
}

.form-actions{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 16px 8px 4px 8px;
}
.edit-spot-root{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.edit-input {
    margin: 2px 8px;
    height: 40px;
    border-radius: 8px;
    /* margin: 4px 0; */
}


#cancel-form{
    border-radius: 10px;
    background-color: white;
}
.edit-page-title{
    text-align: center;
}
.edit-btn{
    background: linear-gradient(45deg, #FF5A5F, #e31c5f 30%);
    color: #FFF;
    font-weight: 500;
    padding: 10px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    width: 100%;
    bottom: 20px;
    margin-right: 0;
}
.cancel-edit-button{
    background-color: #fff;
    border: 0 solid #ddd;
    border-radius: 21px;
    font-weight: 600;
    height: 42px;
    padding: 5px 5px 5px 12px;
    width: 130px;
    cursor: pointer;
}
.cancel-edit-button:hover{
    background-color: #f5f5f5;
}
