.spot-container-root {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px 40px;

}
.spot-container {
    display: flex;
    flex-direction: column;
    /* border: 1px solid gray; */
    padding: 16px;
    box-shadow: 10px 5px 5px #ded7d7;
    margin-top: 16px;
}
.spot-img{
    height: 25vh;
    width: 25vw;
}
.image{
    width: 25vw;
    height: 25vh;
}

.spot-info-container{
    display: flex;
    flex-direction: row;
    padding: 8px;
}

.spot-info {
    width: 80%;
}

.spot-rating {
    width: 20%;
}
