.spot-container-root {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px 40px;

}
.spot-container {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    border-radius: 8px;
    width: 250px;
    height: 300px;
}
.spot-container:hover {
    cursor: pointer;
}
.spot-img{
    height: 200px;
}
.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.spot-info-container{
    display: flex;
    flex-direction: row;
    padding: 8px;
    gap: 4px;
}

.spot-info {
    width:75%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.address-for-spot{
    opacity: 0.6;
}

.spot-rating {
    width: 25%;
}
.card-rating{
    font-weight: 600;
    font-size: 12px;
}
