#host-forms{
    display: flex;
    flex-direction: column;
}
.spot-form{
    display: flex;
    flex-direction: column;
}

.form-actions{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-left: 16px 0;
}
.create-spot-root{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.create-spot-input{
    margin: 2px 8px;
    height: 40px;
    border-radius: 8px;
}


/* label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    font-size: 18px;
    margin: 5px;
} */

#cancel-form{
    border-radius: 10px;
    background-color: white;
}
.welcome-container{
    text-align: start;
}

.create-btn{
    background: linear-gradient(45deg, #FF5A5F, #e31c5f 30%);
    color: #FFF;
    font-weight: 500;
    padding: 10px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    width: 100%;
    bottom: 20px;
    margin-right: 0;
}
.cancel-edit-button{
    background-color: #fff;
    border: 0 solid #ddd;
    border-radius: 21px;
    font-weight: 600;
    height: 42px;
    padding: 5px 5px 5px 12px;
    width: 130px;
    cursor: pointer;
}
.cancel-edit-button:hover{
    background-color: #f5f5f5;
}
