.hidden {
    display: none;
}
.profile-btn {
    box-sizing: border-box;
    border-radius: 21px;
    border: 1px solid #cccccc;
    height: 32px;
    width: 58px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #ffffff;
    cursor: pointer;
    align-items: center;
}
.fas fa-user-circle {
    margin-top: 0px;
    padding-left: 18px;
}
.nav-root {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(231, 230, 230);
    padding: 8px;
}
.nav-one{
    flex-grow: 1;
}

.nav-two{
    flex-grow: 1;
}

.nav-three{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav-home-img{
    width: 40px;
    height: 40px;
}
.profile-dropdown{
    cursor: pointer;
}

.profile-dropdown hidden{
    display: none;
}
.title{
    font-size: 2em;
    font-style: italic;
    font-weight: 800;
    font-family: cursive;
    color: #FF2E00;
}
