.hidden {
    display: none;
}
.profile-btn {
    box-sizing: border-box;
    border-radius: 21px;
    border: 1px solid #cccccc;
    height: 32px;
    width: 58px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #ffffff;
    cursor: pointer;
    align-items: center;
}
.fas fa-user-circle {
    margin-top: 0px;
    padding-left: 18px;
}
.nav-root {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(231, 230, 230);
    padding: 8px;
    align-items: center;
}
.nav-one{
    flex-grow: 1;
}

/* .nav-two{
    flex-grow: 1;
} */
.link--create-spot {
    margin-right: 47px;
}

.nav-three{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav-home-img{
    width: 40px;
    height: 40px;
}
.profile-dropdown{
    cursor: pointer;
}

.profile-dropdown hidden{
    display: none;
}
.title{
    font-size: 2em;
    font-style: italic;
    font-weight: 800;
    font-family: cursive;
    color: #FF2E00;
}
.list--profile-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: flex-start;
    background-color: #FFF;
    top: 38px;
    right: 0px;
    box-shadow: 0px 0px 14px 0.5px rgba(221, 221, 221, 0.7);
    border-radius: 15px;
    padding: 10px 0px;
    list-style: none;
    width: 250px;
}
.list--profile-dropdown:hover{
    cursor: pointer;
}

.button--dropdown-item {
    border: none;
    background-color: #FFF;
    padding: 15px 185px 15px 15px;
    font-size: .8rem;
    width: 250px;
    text-align: left;
    white-space: nowrap;
}
.login-user{
    font-size: 12px;
    margin-left: 14px;
    opacity: 0.6;
}
.button-create-spot{
    background-color: #fff;
    border: 0 solid #ddd;
    border-radius: 21px;
    font-weight: 600;
    height: 42px;
    padding: 5px 5px 5px 12px;
    width: 130px;
    cursor: pointer;
}
.button-create-spot:hover{
    background-color: #f5f5f5;
}
