.login-form {
    display: flex;
    flex-direction: column;
    width: 520px;
    border: 1px red solid;
    /* position: absolute; */
}
.login-btn {
    background: #FF5A5F;
    border-radius: 10px;
    font-weight: 700;
    width: 50%;
    height: 40px;
    margin-bottom: 15px;
    color: whitesmoke;
    cursor: pointer;
}
.login-container {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 60vh;
    padding: 0px 16px 16px 16px;
    overflow: auto;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input {
    width: 48%;
    height: 40px;
    border-radius: 8px;
}
