.login-form {
    display: flex;
    flex-direction: column;
    width: 520px;
    border: 1px red solid;
    /* position: absolute; */
}
/* .login-btn {
    background: #FF5A5F;
    border-radius: 80px;
    font-weight: 700;
    width: 100%;
    height: 35px;
    margin-bottom: 15px;
    color: whitesmoke;
    cursor: pointer;
} */
.demo-container{
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 60vh;
    padding: 0px 16px 16px 16px;
    overflow: auto;
}
/* .demo-button {
    display: flex;
    flex-direction: column;
    gap: 10px;
} */
input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 4px 0;
}
.demo-button {
    border: none;
    background-color: #FFF;
    padding: 15px 185px 15px 15px;
    font-size: .8rem;
    width: 250px;
    text-align: left;
    white-space: nowrap;
}
.demo-button:hover{
    background-color: #F6F6F6;
    cursor: pointer;
}
